body {
  background-image: url('https://i.pinimg.com/736x/6d/be/a3/6dbea378b84a401c4e42264d057a943f.jpg');

  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;

  padding-top: 50px;
}

button {
  margin: 1em;
}

.navbar {
  background-color: #f33a0c;  
  color: #ebc000;  

  padding-left: 5px;
  padding-right: 5px;
}

#navbar-title {
    text-align: center;
  font-size: 30px;
  color: #fff !important; /* TODO can we do this without the !important */
}

.container-fluid {
  padding-left: 5%;
  padding-right: 5%;
}

.nav-link {
  text-decoration: none;
}


.nav-link:hover {
  /* question how do i impact these values without using important */
  /* background-color: #4Cabc2 !important; */
  background-color: transparent;  
  /* color: #fff !important; */
  color: red;
}

.right {
 
}

#details {
  /* background-color: #73919b;   */
  background-color: #178f21;  
  /* provides spacing between the top and bottom nav bars and the content */
  margin-top: 125px;
  margin-bottom: 10px;

  /* provide spaceing around the text */
  padding: 20px;
} 
 

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #897d9a;
  color: #fff;
  font-size: 1.5em;
  line-height: 1.5;
  list-style-type: none;
}

li:hover {
  background-color: #9e9268;
}

#answer-image {
  float: left;
  padding-right: 1em;
  padding-top: 0.25em;
}

#startQuiz{
  /* TODO style buttom */
}

.footer {
  /* set text properties */
  background-color: #f33a0c;
  
  /* sets height of footer*/
  height: 2%;
  
  /* sets properties for footer border*/
  border-top: transparent;
  border-top-width: 2px;
}

.footer-text {
  /* forces text across the entire screen so it has a center */
  width: 50%;
  text-align: center;
position: relative;
bottom: 20px;

  font-size: 20px;
  color:rgb(206, 0, 224); 
}

/* media query for screen size to be applied to center text to switch at same time as navbar */
@media (max-width: 768px) {
  .container-fluid {
    /* removes paddding on either side */
    padding-left: 0;
    padding-right: 0;
  }

/* removes verticle lines between text */
  li {
    border-right: none;
  }

/* collapses space between menu options when they stack vertically*/
  .nav-link{
    padding: 1px;
  }
}
